body {
    overflow-x: hidden;
}

.navbar {
    padding: 0 0 0 5px;
}

.search-form {
    margin: 10px 0;
    position: relative;
}

.search-icon {
    color: #121212;
    position: absolute;
    left: .5rem;
    top: .4rem;
}

.search-box {
    padding: 5px 30px;
}

.mini-cart {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.05);
    color: #111;
}

.error {
    color: red;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.check-table {
    width: 30%;
}

.login-box {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}

.user-box {
    margin-right: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}